@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
#navbar li{
    display:inline;
    margin:5px;
    padding:5px;
}
#list-items{
    list-style-type: none;
}
*{
    margin:0;
    padding:0;
}
.btn-class{
    margin:5px;
    padding:5px;
}
